<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="puzzles.html" id="puzz">
    <link rel="stylesheet" href="/static/css/CTF.css" type="text/css">


</head>

<style>

</style>
<body>

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Navigation style changes!!!!!!!! -->
<ul>
  <li><a href="/puzzleB_adminView">PuzzleBoard</a></li>
  <li style="float:right"><a class="active" href="/log_out_admin">Log Out</a></li>
</ul>


<!--<h4><a href="/leaderBoard">LeaderBoard</a></h4>-->


<div data-role="header">
    <center><h1>Manage Game Content</h1></center>
</div>


  <center><h2 class="tQ">Manage Teams</h2><center>




<div class="tWrap">


    <!--Add team-->

    <div class=tAdd>

        <center><h4>Add Team</h4>
            <div class="forms">
               <form  action="http://159.203.161.23/add_team" method="post">
                    <dl>
                        <div class="control-group">
                            {% if error %}
                                <h5><font color="red"><strong>Error:</strong>{{ error }}</font></h5>
                            {% endif %}
                            <input type="text" class="testboxclass" placeholder="Enter Team Name" name="team_select"required>
                        </div>
                    </dl>
                    <button type="submit">Submit</button>
                </form></center>
            </div>

    <!--Edit team-->

    <div class=tEdit>
        <center><h4>Delete Teams</h4>

            <div class="forms">
                <form action="http://159.203.161.23/delete_team" method="post">
                    <dl> <select name="team_select">
                        {% for team in teams %}
                            <option value="{{ team }}">{{ team }}</option>
                        {% endfor %}
                    </select>
                    </dl>

                    <br>
		    <br>

                    <button type="submit">Delete</button>
                </form>
            </div>
        </center>
    </div>

</div>


<br>
<center><h2 class="mC"> Manage Categories </h2><center>
<!--Add and Edit Categories-->
<div class="cWrap">

    <!--Add Category-->
    <div class="cAdd">
        <center><h4>Add New Category</h4>

            {#  {% from "_formhelpers.html" import render_field with context %}#}
            <div class="forms">
                <form action="http://159.203.161.23/add_category" method="post">
                    <dl>
                        <div class="control-group">
                            {% if error %}
                                <h5><font color="red"><strong>Error:</strong>{{ error }}</font></h5>
                            {% endif %}
                            <input type="text" class="testboxclass" placeholder="Enter Category Name" name="category_select" required>
                        </div>
                    </dl>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </center>
    </div>

    <!--Delete Category-->
    <div class="cEdit">
        <center><h4>Delete Categories</h4>

            {#  {% from "_formhelpers.html" import render_field with context %}#}
            <div class="forms">
                <form action="http://159.203.161.23/delete_category" method="post">
                    <dl> Category:<select name="category_select">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                                  </select>
                    </dl>
                    <br>
		    <br>
                    <button type="submit">Delete</button>
                </form>
            </div>
        </center>
    </div>
</div>

</div>


<center><h2 class="mQ"> Manage Questions</h2><center>


<!--Add and delete Question-->
<div class="qWrap">
    <div class="qAdd">
        <center><h4>Add New Question</h4>
            <div class="forms-inline">

                <form action="http://159.203.161.23/add_question" method="post">
                        <!--add category to question box-->
                        Category: <select name="category_select">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                        {% if error %}
                            <h5><font color="red"><strong>Error:</strong>{{ error }}</font></h5>
                        {% endif %}
                        <dl>
			            <input type="text" class="testboxclass" placeholder="Title of Puzzle" name="puzzleName" required>

                        <dl><input type="text" class="testboxclass" placeholder="Enter Point Value" name="point" required></dl>

                        <input type="text" class="testboxclass" name="question" placeholder="Enter Question" name="answer" required>
                        <!--<dl><textarea rows="4" cols="50" name="question"> Enter Question Here</textarea></dl>

                        <dl><textarea rows="4" cols="50" name="answer"> Enter Answer Here</textarea></dl>-->

                        <input type="text" class="testboxclass" name="answer" placeholder="Enter Answer" name="question"required>
                       <!-- <dl><input type="file" class="testboxclass" placeholder="File Upload" name="file" ></dl>-->

                        <dl><button type="submit">Submit</button></dl>

                </form>

        </center>
    </div>

    <!--get questions from database based on category name-->

    <div class="qEdit">
        <center><h4>Delete Question</h4>

            <div class="forms-inline">
                <form action="http://159.203.161.23/get_question" method="post">
                    <dl>Select a Category:<select id="category" name="category_select" onchange="this.form.submit()">
                        <option value="">--</option>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    </dl>
                    <!--<button onClick="bringUpQuestions()" type="submit">Submit</button>-->
                </form>


    		<br>
		<br>

                <form action="http://159.203.161.23/delete_question" method="post">
                     <h4>Questions in Category:{{selected_catName}}</h4>
                    {% for question in questions %}
                        <input type="checkbox" name="question_select" value="{{ question }}"> {{ question }}<br>
                    {% endfor %}

                    <button type="submit">Delete</button>

                </form>
            </div>
        </center>
    </div>
</div>


</body>


</html>
